# https://clang.llvm.org/docs/ClangFormatStyleOptions.html#configurable-format-style-options
---
BasedOnStyle: LLVM
IndentWidth: 4
---
Language: Cpp
BreakBeforeBraces: Linux
BreakConstructorInitializers: BeforeComma
ColumnLimit: 100
ReflowComments: false
---
